{% extends 'base.html.twig' %}

{% block body %}
    <div class="blog-posts">
        {% for post in posts %}
            {% include 'blog/_post.html.twig' %}
        {% endfor %}
    </div>
{% endblock %}